## Association Rule

In [1]:
import pandas as pd

In [2]:
data = pd.read_excel(r"C:\Users\user\Downloads\OneDrive\Documents\Assigments of DS(ExelR)\Association Rules\Online retail.xlsx")

In [3]:
data.head()

  shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                             burgers,meatballs,eggs
1                                            chutney
2                                     turkey,avocado
3  mineral water,milk,energy bar,whole wheat rice...
4                                     low fat yogurt

In [4]:
data.tail()

     shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
7495                      butter,light mayo,fresh bread
7496  burgers,frozen vegetables,eggs,french fries,ma...
7497                                            chicken
7498                                 escalope,green tea
7499    eggs,frozen smoothie,yogurt cake,low fat yogurt

In [5]:
data.describe()

       shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
count                                                7500
unique                                               5175
top                                               cookies
freq                                                  223

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                           Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                           --------------  -----
 0   shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil  7500 non-null   object
dtypes: object(1)
memory usage: 58.7+ KB

In [7]:
sample_data = data.sample(n=20, random_state=42)

In [8]:
print(sample_data)

     shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
970                                      eggs,champagne
6279                                       burgers,milk
1859       tomatoes,french fries,body spray,yogurt cake
6803                                            cookies
6305                              mineral water,carrots
3039  shrimp,mineral water,milk,almonds,whole wheat ...
7194                             burgers,escalope,pasta
1446                                       french fries
5199   grated cheese,herb & pepper,french fries,cookies
6234  tomatoes,mineral water,eggs,ketchup,corn,pancakes
4316                                    shrimp,tomatoes
5922                              mineral water,avocado
6027                         milk,brownies,tomato juice
1850                        frozen vegetables,spaghetti
429                                             cookies
101   turkey,burgers,ground beef,chocolate,soup,almo...
4707                    butter,french fries,protein bar
465    grated cheese,mineral water,cake,chocolate bread
4129                      mineral water,green tea,honey
4828  shrimp,tomatoes,spaghetti,mineral water,salmon...

In [9]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\user\anaconda3\lib\site-packages (0.23.4)
Requirement already satisfied: scipy>=1.2.1 in c:\users\user\anaconda3\lib\site-packages (from mlxtend) (1.13.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\user\anaconda3\lib\site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in c:\users\user\anaconda3\lib\site-packages (from mlxtend) (2.2.2)
Requirement already satisfied: scikit-learn>=1.3.1 in c:\users\user\anaconda3\lib\site-packages (from mlxtend) (1.5.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\user\anaconda3\lib\site-packages (from mlxtend) (3.9.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\user\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn>=1.3.1->mlxtend) (3.5.0)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

In [10]:
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

# Sample transactions
transactions = [
    ['burgers', 'meatballs', 'eggs'],
    ['chutney'],
    ['turkey', 'avocado'],
    ['mineral water', 'milk', 'energy bar', 'whole wheat rice', 'green tea'],
    ['low fat yogurt'],
    ['eggs,champagne'],
    ['burgers,milk'],
    ['tomatoes,french fries,body spray,yogurt cake '],
    ['cookies'],
    ['mineral water,carrots']
    
    # Add more transactions as needed
]

In [12]:
# Step 1: Preprocess the Data
# Convert the transactions list into a format suitable for apriori
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df = pd.DataFrame(te_ary, columns=te.columns_)

# Step 2: Apply the Apriori Algorithm
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)

# Step 3: Generate Association Rules
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)

# Step 4: Sort Rules
rules = rules.sort_values(['lift', 'confidence'], ascending=False)

# Step 5: Display the rules
print(rules.head(10))

    antecedents   consequents  antecedent support  consequent support  \
0     (avocado)      (turkey)                 0.1                 0.1
1      (turkey)     (avocado)                 0.1                 0.1
2     (burgers)        (eggs)                 0.1                 0.1
3        (eggs)     (burgers)                 0.1                 0.1
4     (burgers)   (meatballs)                 0.1                 0.1
5   (meatballs)     (burgers)                 0.1                 0.1
6   (meatballs)        (eggs)                 0.1                 0.1
7        (eggs)   (meatballs)                 0.1                 0.1
8  (energy bar)   (green tea)                 0.1                 0.1
9   (green tea)  (energy bar)                 0.1                 0.1

   support  confidence  lift  representativity  leverage  conviction  \
0      0.1         1.0  10.0               1.0      0.09         inf
1      0.1         1.0  10.0               1.0      0.09         inf
2      0.1         1.0  10.0               1.0      0.09         inf
3      0.1         1.0  10.0               1.0      0.09         inf
4      0.1         1.0  10.0               1.0      0.09         inf
5      0.1         1.0  10.0               1.0      0.09         inf
6      0.1         1.0  10.0               1.0      0.09         inf
7      0.1         1.0  10.0               1.0      0.09         inf
8      0.1         1.0  10.0               1.0      0.09         inf
9      0.1         1.0  10.0               1.0      0.09         inf

   zhangs_metric  jaccard  certainty  kulczynski
0            1.0      1.0        1.0         1.0
1            1.0      1.0        1.0         1.0
2            1.0      1.0        1.0         1.0
3            1.0      1.0        1.0         1.0
4            1.0      1.0        1.0         1.0
5            1.0      1.0        1.0         1.0
6            1.0      1.0        1.0         1.0
7            1.0      1.0        1.0         1.0
8            1.0      1.0        1.0         1.0
9            1.0      1.0        1.0         1.0

### Setted Threshold

1.Support: Proportion of transactions containing an item.
Example: min_support=0.01 → item appears in at least 1% of transactions.
2.Confidence: Probability that a customer buys Y given they bought X.
Example: confidence > 0.5 means at least 50% of the time.
3.Lift: Measures how much more likely X & Y occur together than randomly.
lift > 1 means positive association (interesting).

### Interview Question

1.	What is lift and why is it important in Association rules?
ANS = Lift is a key metric used in association rule mining, a technique in data mining that identifies relationships between variables in large datasets. Lift measures how much more likely the occurrence of two items (antecedent and consequent) together is than would be expected if the items were independent.

2.	What is support and Confidence. How do you calculate them?
ANS = Support indicates how frequently an itemset appears in the dataset. It reflects the proportion of transactions in the dataset that contain a specific itemset.

Confidence measures the likelihood of the consequent occurring given that the antecedent has occurred. It is the conditional probability that B occurs, given that A occurs.

3.	What are some limitations or challenges of Association rules mining?
ANS = Association rule mining is a powerful technique for discovering interesting patterns in large datasets, but it comes with several limitations and challenges
1. Scalability and Efficiency
2. Handling Rare Items
3. verwhelming Number of Rules
4. Low Confidence or Lift
5. Difficulty in Handling Continuous Data